.text
{
    width: 570px;
}
h1
{
    text-align: center;
    color: red;
}
h2
{
    color: green;
    margin-top: 35px;
}
b
{
    font-size: 20px;
    color: red;
}
i
{
    color: blue;
    font-weight: bold;
}
ol
{
    color: red;
}
.justify
{
    font-family: Arial;
    text-align: justify;
    line-height: 2;
    font-size: 14px;
}
ul
{
    font-style: italic;
    color: #924763;
}